.page {
   max-width: 880px;
   min-width: 320px;
   background-color: #000000;
   font-family: 'Inter', Arial, sans-serif;
   color: white;
   margin: 0 auto;
}

@media screen and (max-width: 900px) {
   .page {
      max-width: calc(100% - 40px);
   }
}

@media screen and (max-width: 660px) {
   .page {
      max-width: 320px;
   }
}