.header__decor-line {
   position: absolute;
   width: 880px;
   border: 1px solid #545454;
   bottom: 0;
}

@media screen and (max-width: 660px) {
   .header__decor-line {
      position: absolute;
      width: 320px;
      bottom: 0;
   }
}