.profile__add {
   width: 150px;
   height: 50px;
   padding: 0;
   margin: auto 0 auto auto;
   background-image: url(../../../images/AddButton.png);
}

@media screen and (max-width: 660px) {
   .profile__add {
      width: 282px;
      height: 50px;
      margin: auto auto 0 auto;
      background-image: url(../../../images/AddButtonBig.png);
   }
}

.profile__add:hover {
   opacity: 0.6;
}