.popup__close {
   background: url('../images/CloseIcon.svg');
   background-size: 32px 32px;
   width: 35px;
   height: 35px;
   border: none;
   position: absolute;
   top: -35px;
   right: -35px;
   cursor: pointer;
}

.popup__close:hover {
   opacity: 0.5;
}