.place__like-button {
   background-image: url(../../../images/LikeButton.png);
   height: 19px;
   width: 22px;
   margin: auto 20px 35px auto;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.place__like-button:hover {
   opacity: 0.5;
}