@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
   max-width: 880px;
   min-width: 320px;
   background-color: #000000;
   font-family: 'Inter', Arial, sans-serif;
   color: white;
   margin: 0 auto;
   
}

@media screen and (max-width: 660px) {
   .page {
      max-width: 320px;
   }
}


.header {
   max-width: 880px;
   height: 74px;
   margin: 45px auto 0;
   position: relative;

}

@media screen and (max-width: 660px) {
   .header {
      max-width: 320px;
      height: 56px;
      margin: 28px auto 0;
   }
}

.header__logo {
   width: 142px;
   height: 33px;
}

@media screen and (max-width: 660px) {
   .header__logo {
      width: 104px;
      height: 25px;
      padding-left: 27px;
   }
}

.decor__line {
   background-image: url(../images/Line.png);
   position: absolute;
   width: 880px;
   height: 1px;
   bottom: 0;
}

@media screen and (max-width: 660px) {
   .decor__line {
      background-image: url(../images/Line.png);
      position: absolute;
      width: 320px;
      height: 1px;
      bottom: 0;
   }
}

.profile {
   margin: 40px auto 0;
   max-width: 880px;
   display: flex;
   flex-direction: row;
}

@media screen and (max-width: 660px) {
   .profile {
      margin: 42px auto 0;
      max-width: 282px;
      height: 286px;
      flex-direction: column;
   }
}


.profile__avatar {
   border-radius: 50%;
   width: 120px;
   height: 120px;
}

@media screen and (max-width: 660px) {
   .profile__avatar {
      margin: 0 auto;
   }
}

.profile__name-edit {
   display: flex;
   margin: auto 0 0 30px;

}

@media screen and (max-width: 660px) {
   .profile__name-edit {
      margin: 0;
      width: 100%;
   }
}

.profile__add {
   width: 150px;
   height: 50px;
   padding: auto 0;
   background-image: url(../images/AddButton.png)
}

@media screen and (max-width: 660px) {
   .profile__add {
      width: 282px;
      height: 50px;
      background-image: url(../images/AddButtonBig.png)
   }
}

.profile__user-name {
   margin: 22px 0 8px 0;
   padding: 0;
   font-weight: 500;
   font-size: 42px;
   line-height: 114%;
}

@media screen and (max-width: 660px) {
   .profile__user-name {
      font-size: 27px;
      line-height: 33px;
      text-align: cnter;
      margin: 26px auto 0px 45px;
   }
}

.profile__annotation {
   margin: 0 0 0 30px;
   padding: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}

@media screen and (max-width: 660px) {
   .profile__annotation {
      font-size: 14px;
      line-height: 17px;
      margin: 8px 0 0 62px;
   }
}

.profile__edit {
   width: 24px;
   height: 24px;
   margin: 37px 0 0 18px;
}

@media screen and (max-width: 660px) {
   .profile__edit {
      margin: 35px 19px auto 10px;
      width: 18px;
      height: 18px;
   }
}

.profile__edit:hover {
   opacity: 0.6;
}

.profile__add {
   margin: auto 0 auto auto;
}

@media screen and (max-width: 660px) {
   .profile__add {
      margin: auto auto 0 auto;
   }
}

.profile__add:hover {
   opacity: 0.6;
}

.elements {
   margin: 0 auto;
   align-items: center;
   
}

.places {
   display: grid;
   max-width: 880px;
   grid-template-columns: repeat(auto-fit, 282px);
   grid-template-rows: auto;
   row-gap: 20px;
   column-gap: 17px;
   margin: 50px auto 0 auto;
   
}

@media screen and (max-width: 660px) {
   .places {
      width: 320px;
      display: flex;
      flex-direction: column;
      margin: 36px auto 0 auto;
   }
}

.place {
   width: 282px;
   height: 361px;
   border-radius: 4%;
   background-color: white;
   overflow: hidden;
}

.place__photo {
   width: 282px;
   height: 282px;

}

.place__description {
   height: 79px;
   display: flex;
}

.place__name {
   margin: auto auto 31px 21px;
   padding: 0;
   color: #000000;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
}

.place__like-button {
   height: 19px;
   margin: auto 20px 35px auto;
}

.footer {
   padding-top: 66px;
}

@media screen and (max-width: 660px) {
.footer {
      padding-top: 48px;
      
   }
}
.footer__author {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #545454;
   margin: 0;
   padding: 0;
}

@media screen and (max-width: 660px) {
   .footer__author {
      font-size: 14px;
      line-height: 17px;
      margin: 0 auto 36px 19px;
   }
}