@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
   max-width: 880px;
   min-width: 320px;
   background-color: #000000;
   font-family: 'Inter', Arial, sans-serif;
   color: white;
   margin: 0 auto;
   align-items: center;
}

.header {
   max-width: 880px;
   height: 74px;
   margin: 45px auto 0;
   position: relative;
   
}

@media screen and (max-width: 660px) {
   .header {
      max-width: 320px;
      height: 56px;
      margin: 28px auto 0;
   }
}

.header__logo {
   width: 142px;
   height: 33px;
}

.decor __line {
   width: 880px;
   align-self: flex-end;
   margin-left: 0;
}

.decor__line {
   background-image: url(../images/Line.png);
   position: absolute;
   width: 880px;
   height: 1px;
   bottom: 0;
}

.profile {
   margin: 40px auto 0;
   max-width: 880px;
   display:flex;
   border:1px red solid;
}

@media screen and (max-width: 660px) {
   .profile {
      margin: 42px auto 0;
      max-width: 228px;
      height: 286px;
      flex-direction: column;
   }
}


.profile__avatar {
   border-radius: 50%;
   width: 120px;
   height: 120px;
}

@media screen and (max-width: 660px) {
   .profile__avatar {
      margin: 0 auto;
   }
}

.profile__description {
   display: grid;
   grid-template-columns: 294px 42px;
   grid-template-rows: max-content max-content;
   margin-left: 30px;
   row-gap: 16px;
   align-content: center;
   border: 1px white solid;
}



.profile__add {
   width: 150px;
   height: 50px;
   padding: auto 0;
}

.profile__user-name {
   margin: 0;
   padding: 0;
   font-weight: 500;
   font-size: 42px;
   line-height: 114%;
}

@media screen and (max-width: 660px) {
   .profile__user-name {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      
   }
}

.profile__annotation {
   margin: 0;
   padding: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
}

.profile__edit {
   margin:  auto 0 8px auto;
}

.profile__edit:hover {
   opacity: 0.6;
}

.profile__add {
   margin: auto 0 auto auto;
}

.profile__add:hover {
   opacity: 0.6;
}

.places {
   display: grid;
   max-width: 880px;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: auto;
   row-gap: 20px;
   column-gap: 17px;
   margin-top: 50px;

}

.place {
   width: 282px;
   height: 361px;
   border-radius: 4%;
   background-color: white;
   overflow: hidden;
}

.place__photo {
   width: 282px;
   height: 282px;

}

.place__description {
   height: 79px;
   display: flex;
}

.place__name {
   margin: auto auto 31px 21px;
   padding: 0;
   color: #000000;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
}

.place__like-button {
   height: 19px;
   margin: auto 20px 35px auto;
}

.footer {
   padding-top: 66px;;

}

.footer__author {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #545454;
   margin: 0;
   padding: 0;
}